<?xml version="1.0"?>
<robot name="robot_2">

  <!-- robot_2 odom -->
  <link name="robot_2/odom"/>

  <!-- robot_2 base_link -->
  <link name="robot_2/base_link">
    <visual>
      <geometry>
        <box size="0.55 0.35 0.2"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <!-- odom -> base_link 고정 연결 -->
  <joint name="robot_2/odom_to_base" type="fixed">
    <parent link="robot_2/odom"/>
    <child link="robot_2/base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
