<launch>
  <!-- launch 인자에 파일 경로를 분리 -->
  <arg name="world_file"
       default="$(find path_planning)/maps/Factory/Factory.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>   <!-- 핵심 -->
    <arg name="gui"        value="true"/>
    <arg name="use_sim_time" value="true"/>
  </include>
</launch>

