<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <rosparam file="$(find path_planning)/maps/slam_maps/goals.yaml" command="load"/>
  <arg name="map_center_x" default="5.815"/>
  <arg name="map_center_y" default="5.040"/>

  <!-- 로봇 1 초기 위치 변수 -->
  <arg name="robot1_init_x" default="-0.248"/>
  <arg name="robot1_init_y" default="0.568"/>
  <arg name="robot1_init_yaw" default="-0.028"/>

  <!-- gird를 map center 에 맞추기 위한 초기 설정 변수 -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_center_tf" output="screen"
        args="$(arg map_center_x) $(arg map_center_y) 0 3.137 0 0 map map_center"/>

  <!-- robot1 의 초기 위치 설정을 위한 node -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="robot1_init_tf" output="screen"
        args="$(arg robot1_init_x) $(arg robot1_init_y) 0 $(arg robot1_init_yaw) 0 0 map robot_1/base_link"/>

  <!-- Map Server -->
  <node pkg="map_server" type="map_server" name="map_server"
        args="$(find path_planning)/maps/slam_maps/it2_last.yaml"/>

  <!-- Central Path Planner -->
  <node pkg="path_planning" type="path_planner_node.py" name="path_planner" output="screen">
    <param name="grid_path" value="$(find path_planning)/maps/grid.npy"/>
  </node>

  <!-- Robot 1 -->
  <group ns="robot_1">
    <param name="robot_description" textfile="$(find path_planning)/urdf/robot_1.urdf"/>
    <node name="rsp1" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  </group>

  <!-- Robot 2 -->
  <group ns="robot_2">
    <param name="robot_description" textfile="$(find path_planning)/urdf/robot_2.urdf"/>
    <node name="rsp2" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  </group>

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find path_planning)/rviz/multi_robot_debug.rviz" output="screen"/>
</launch>

