<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- 1) Load named goals -->
  <rosparam file="$(find path_planning)/goals/it2_last_goals.yaml" command="load"/>

  <!-- 2) Arguments for map center and robot1 init -->
  <arg name="map_center_x"     default="5.815"/>
  <arg name="map_center_y"     default="5.040"/>
  <arg name="robot1_init_x"    default="-0.248"/>
  <arg name="robot1_init_y"    default="0.568"/>
  <arg name="robot1_init_yaw"  default="-0.028"/>
  
  <arg name="robot2_init_x"    default="-0.830"/>
  <arg name="robot2_init_y"    default="0.985"/>
  <arg name="robot2_init_yaw"  default="1.021"/>

  <!-- 3) Expose those args as global params so path_planner_node can read them -->
  <param name="map_center_x"    value="$(arg map_center_x)"/>
  <param name="map_center_y"    value="$(arg map_center_y)"/>

  <!-- 4) Static TF for grid center on /tf -->
  <node pkg="tf" type="static_transform_publisher" name="map_center_tf" output="screen"
        args="$(arg map_center_x) $(arg map_center_y) 0 3.137 0 0 map map_center 100"/>

  <!-- 5) Static TF for robot_1 start pose on /tf -->
  <node pkg="tf" type="static_transform_publisher" name="robot1_init_tf" output="screen"
        args="$(arg robot1_init_x) $(arg robot1_init_y) 0 $(arg robot1_init_yaw) 0 0 map robot_1/base_link 100"/>

  <node pkg="tf" type="static_transform_publisher" name="robot2_init_tf" output="screen"
        args="$(arg robot2_init_x) $(arg robot2_init_y) 0 $(arg robot1_init_yaw) 0 0 map robot_2/base_link 100"/>

  <!-- 6) Map Server -->
  <node pkg="map_server" type="map_server" name="map_server"
        args="$(find path_planning)/maps/slam_maps/it2_last.yaml"/>

  <!-- 7) Central Path Planner -->
  <node pkg="path_planning" type="path_planner_node.py" name="path_planner" output="screen">
    <!-- existing -->
    <param name="grid_path"        value="$(find path_planning)/maps/grid.npy"/>
    <!-- new: how many original pixels per grid cell -->
    <param name="downsample_factor" value="6"/>
  </node>

  <!-- 8) Robot 1 -->
  <group ns="robot_1">
    <param name="robot_description" textfile="$(find path_planning)/urdf/robot_1.urdf"/>
    <node name="rsp1" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  </group>

  <!-- 9) Robot 2 -->
  <group ns="robot_2">
    <param name="robot_description" textfile="$(find path_planning)/urdf/robot_2.urdf"/>
    <node name="rsp2" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  </group>

  <!-- 10) RViz -->
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find path_planning)/rviz/it2_last.rviz" output="screen"/>
</launch>

