<launch>
 <param name="use_sim_time" value="true" />
  <!-- URDF 로딩 + TF 퍼블리싱 -->
  <include file="$(find path_planning)/launch/robot_description.launch" />

  <!-- 관절 상태 퍼블리셔 (RViz에서 로봇 보이게 하려면 꼭 필요) -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- 맵 서버 실행 -->
  <node name="map_server" pkg="map_server" type="map_server"
        args="/home/leekwansuk/SmartFactory/src/gazebo/my_factory_map.yaml" />

  <!-- AMCL 로컬라이제이션 -->
  <include file="$(find path_planning)/launch/amcl.launch" />

  <!-- move_base 실행 -->
  <node name="move_base" pkg="move_base" type="move_base" output="screen">
    <rosparam file="$(find path_planning)/config/costmap_common_params.yaml" command="load" />
    <rosparam file="$(find path_planning)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find path_planning)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find path_planning)/config/base_local_planner_params.yaml" command="load" />
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="planner_frequency" value="1.0" />
  </node>

  <!-- RViz 실행 -->
  <node name="rviz" pkg="rviz" type="rviz" />
</launch>

