<launch>
 <param name="use_sim_time" value="true" />
  <!-- URDF를 robot_description 파라미터에 로딩 -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find path_planning)/urdf/robot_1.urdf'" />

  <!-- Gazebo에 로봇 스폰 -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description -urdf -model robot -x 0 -y 0 -z 0.1"/>
</launch>

