<launch>
  <param name="use_sim_time" value="true" />

  <!-- TurtleBot3 URDF 로딩 -->
  <param name="robot_description"
         command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_$(env TURTLEBOT3_MODEL).urdf.xacro'" />

  <!-- Gazebo에 스폰 -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description -urdf -model turtlebot3 -x 0 -y 0 -z 0.1"/>
</launch>

